@font-face {
  font-family: 'RapPaynesHandwriting';
  src: url('/fonts/RapPaynesHandwriting-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Menlo, Arial, sans-serif;
  color-scheme: light dark;
  color: light-dark(var(--dark1), var(--lite1));
  background-color: light-dark(var(--lite1), var(--dark1));

  /* Site color palette */
  --dark1: #320a28;
  /* our black */
  --dark2: #be1526;
  /* our red */
  --dark3: #28536b;
  --dark4: #0A8754;
  /* our green */
  --dark5: #F1C40F;
  /* our yellow */
  --dark6: #003F91;
  /* our blue */
  --dark7: #8390FA;
  /* our purple */
  --lite1: #fbfbfb;
  /* our white */
  --lite2: #d8e4ff;
  --lite3: #AFD2E9;
  --lite4: #C9D5B5;
  --success: #0A8754;
  --danger: #be1526;
  --info: #5BC3EB;
  --success-lite: #E7EBC5;
  --danger-lite: #DDC8C4;

  /* Max screen widths */
  --width_max_phone: 767px;
  /* Phones are 0 to 767 */
  --width_max_tablet: 1023px;
  /* Tablets are 768 to 1023 */
  --width_max_laptop: 1439px;
  /* Laptops are 1024 to 1439 */
  --width_max_desktop: 1440px;
  /* Desktops are 1440 or bigger */
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.rapPaynesHandwriting {
  font-family: RapPaynesHandwriting, sans-serif;
}

/* Hidden from sighted users. There for screen readers */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.danger {
  color: var(--danger);
}

/* for styling a button like a link */
.looks_like_a_link {
  background-color: transparent;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}