---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About Agile Gadgets</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>
    <h1>About Agile Gadgets</h1>
    <p>
      Focused on creating software that runs on the web and mobile devices. So
      ...
    </p>
    <ul>
      <li>React</li>
      <li>Angular</li>
      <li>HTML and CSS</li>
      <li>JavaScript</li>
      <li>React Native</li>
      <li>Flutter</li>
    </ul>
    <h1>About Rap</h1>
    <p>
      Given a mind to grok software development and the ability to take
      complicated topics and make them easy to understand, I write software and
      teach others to do the same.
    </p>
  </body>
</html>
