---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Rap">
  <main>
    <h1>I'm Rap Payne 👋</h1>
    <section id="just_the_facts">
      <ul>
        <li>An independent consultant. I've been unemployed for over 20 years. 😉</li>
        <li>Software developer, entrepreneur, author, and educator.</li>
        <li>
          Not looking for full-time employment nor do I want to be on your company's board of directors, but thanks for
          thinking me!
        </li>
        <li>Started and sold several small software businesses.</li>
        <li>
          Founded a software development company to create apps for devices that can be carried ... you know, "Agile
          Gadgets". Evidently I'm not the CEO type.
        </li>
        <li>
          Wannabe athlete, 30 time marathoner, 10 bicycle centuries, and dozens of triathlons, including an <a href=""
            >Ironman distance triathlon and <a href="https://www.instagram.com/p/C85o-hex_yv/">powerlifter</a>.</a
          >
          <li>
            Born in <a
              href="https://www.google.com/maps/place/Taipei+City,+Taiwan/"
              target="_blank"
              rel="noopener noreferrer">Taiwan</a
            >, grew up in <a
              href="https://www.google.com/maps/place/54634+Bitburg,+Germany"
              target="_blank"
              rel="noopener noreferrer">Europe</a
            >, <a href="https://www.google.com/maps/place/Honolulu,+HI" target="_blank" rel="noopener noreferrer"
              >Hawaii</a
            > and various <a
              href="https://www.google.com/maps/place/Hampton+Roads"
              target="_blank"
              rel="noopener noreferrer">places</a
            > on the <a
              href="https://www.google.com/maps/place/Washington,+DC"
              target="_blank"
              rel="noopener noreferrer">East</a
            > and <a href="https://www.google.com/maps/place/Biloxi,+MS" target="_blank" rel="noopener noreferrer"
              >Gulf</a
            >
            <a href="https://www.google.com/maps/place/Tampa,+FL" target="_blank" rel="noopener noreferrer">Coasts</a>.
          </li>
          <li>
            BS in Engineering from <a href="https://www.utexas.edu/">University of Texas 🤘</a> and an MBA in Finance from
            <a href="https://www.uta.edu/">UT Arlington</a>.
          </li>
          <li>
            Currently live in <a href="https://www.google.com/maps/place/Garland,+TX" target="garland">Arlen, TX</a> in the
            Dallas/Fort Worth metroplex.
          </li>
          <li>
            Drive a 25-year old Jeep Wrangler and an all-electric <a href="https://rivian.com/r1s">Rivian R1S</a>.
          </li>
          <li>Father of five successful home- and college-educated kids. (Ask me how we did it.)</li>
          <li>
            I know a thing or two about a thing or two and because I love to help people, I figured I'd create this
            blog. Enjoy!
          </li>
        </li>
      </ul>
    </section>
    <section id="specialties">
      <h2>Specialties</h2>
      <div id="for-flex-layout">
        <section>
          <h3>Front end web dev</h3>
          <ul>
            <li>A11y</li>
            <li>React</li>
            <li>Angular</li>
            <li>Vue</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Jest</li>
            <li>Redux</li>
            <li>Zustand</li>
          </ul>
        </section>
        <section>
          <h3>Back end dev</h3>
          <ul>
            <li>Node</li>
            <li>Express</li>
            <li>Django</li>
            <li>Flask</li>
          </ul>
        </section>
        <section>
          <h3>Data, Machine Learning, Data Science, AI</h3>
          <ul>
            <li>Python</li>
            <li>MongoDB</li>
            <li>PostgresSQL</li>
            <li>SQL</li>
            <li>Hugging Face</li>
            <li>Kaggle</li>
            <li>Scikit-learn</li>
            <li>Tensorflow</li>
            <li>Pandas</li>
            <li>SciPy</li>
            <li>Matplotlib</li>
            <li>Seaborn</li>
          </ul>
        </section>
        <section>
          <h3>Cross-platform Mobile App Dev</h3>
          <ul>
            <li>React Native</li>
            <li>Flutter</li>
          </ul>
        </section>
      </div>
    </section>
    <section id="social_links">
      <h2 class="visually-hidden">Social links</h2>
      <p>I don't post a lot but I'm <span class="highlight">@rapPayne</span> on all the socials.</p>
      <ul>
        <li>
          <a href="https://linkedin.com/in/rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-linkedin"></i> LinkedIn
          </a>
        </li>
        <li>
          <a href="https://github.com/rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-github"></i> GitHub
          </a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/88373/rappayne" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-stack-overflow"></i> Stack Overflow
          </a>
        </li>
        <li>
          <a href="https://reddit.com/u/rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-reddit"></i> Reddit
          </a>
        </li>
        <li>
          <a href="https://instagram.com/rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram"></i> Instagram
          </a>
        </li>
        <li>
          <a href="https://x.com/rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-x-twitter"></i> X
          </a>
        </li>
        <li>
          <a href="https://facebook.com/rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook"></i> Facebook
          </a>
        </li>
        <li>
          <a href="https://tiktok.com/@rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-tiktok"></i> TikTok
          </a>
        </li>
        <li>
          <a href="https://bsky.app/profile/rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-bluesky"></i> Bluesky
          </a>
        </li>
        <li>
          <a href="https://mastodon.social/@rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-mastodon"></i> Mastodon
          </a>
        </li>

        <li>
          <a href="https://youtube.com/rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
        </li>
        <li>
          <a href="https://snapchat.com/add/rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-snapchat"></i> Snapchat
          </a>
        </li>
        <li>
          <a href="https://pinterest.com/rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-pinterest"></i> Pinterest
          </a>
        </li>
        <li>
          <a href="https://open.spotify.com/user/rappayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-spotify"></i> Spotify
          </a>
        </li>
        <li>
          <a href="https://www.strava.com/athletes/rapPayne" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-strava"></i> Strava
          </a>
        </li>
      </ul>
    </section>
  </main>

  <style>
    main {
      display: grid;
      place-items: center;
      /* align-content: center; */

      section {
        margin-bottom: 30px;
      }

      #specialties {
        div {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;

          section {
            flex: 0 1 200px;
            background-color: var(--lite2);
            border: 2px solid var(--dark1);
            border-radius: 10px;
            padding: 10px;

            h3 {
              text-align: center;
            }
            li {
              list-style-type: none;
            }
          }
        }
      }
      #social_links {
        width: clamp(300px, 80vw, 1000px);
        .highlight {
          color: var(--dark2);
        }
        & ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          padding: 0;
          gap: 3em;
          & li {
            list-style-type: none;
            flex: 0 1 100px;
            background-color: var(--lite2);
            border: 2px solid var(--dark1);
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            & a {
              color: var(--dark1);
              text-decoration: none;

              & i {
                font-size: 3em;
                display: block;
              }
            }
          }
        }
      }
    }
  </style>
</Layout>
