---
// Navigation.astro
interface NavItem {
  label: string;
  href: string;
}

const navItems: NavItem[] = [
  { label: "Home", href: "/" },
  { label: "About", href: "/about" },
  { label: "Blog", href: "/blog" },
  { label: "Courses", href: "/courses" },
];

// Get current path to highlight active link
// const pathname = new URL(Astro.request.url).pathname;
---

<nav>
  <a href="/" class=""><img src="/images/AgileMan.jpg" alt="Agile Gadgets logo"/></a>
  {navItems.map((item) => <a href={item.href}>{item.label}</a>)}
</nav>
<style is:global>
  nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index:100;
    background-color: light-dark(var(--lite1), var(--dark1));

    a {
      color: light-dark(var(--dark2),var(--lite2));
      font-size: 1.25em;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px;
      transition: transform 250ms 200ms;
    }

    a:hover {
      transform: scale(1.3);
    }
    a:active {
      color: light-dark(var(--lite1),var(--dark1));
      background-color: light-dark(var(--dark2),var(--lite2));
    }
    img {
      height: 1em;
    }
  }
</style>
